section.experience {
    width: 50%;
}

#experience_list {
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
    height: 80%;
    overflow-y: scroll;
    padding-right: 10px;
    padding-left: 10px;
}