#profile_img {
    height: 80vh;
    margin: 50px;
    border-color: black;
    border-style: solid;
    border-radius: 15px;
}

#contact {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 50%;
}

#about_me {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

p {
    width: 70%;
}