/*All pages*/
.page p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

section.home_page, section.education_page {
    display: flex;
    flex-direction: row;
}

/*home_page*/
section.information {
    display: flex;
    flex-direction: column;
}

.home_page img {
    width: 25%;
    margin: 2%;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
}

.information section {
    width: 75%;
    margin: 2%;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    padding: auto;
}

section.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-wrap: break-word;
    overflow: hidden;
}

.about_me h3, .about_me p {
    margin: 5px;
}

/*Education page.*/
.education_page section {
    width: 50%;
}

section.info {
    margin: 2%;
}

section.edu_table {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    margin: 2%
}

.edu_table table {
    height: 70%;
}

.edu_table td {
    text-align: left;
    border: 2px;
    border-color: black;
    border-style: solid;
    padding: 2px;
}

section.table_controls {
    display: flex;
    flex-direction: column;
}