body {
	font-family: Helvetica;
}

div.body{
	margin-top: 40px;
}

table {
	background-color: white;
	border-style: solid;
	border-color: black;
	margin: auto;
	border-collapse: collapse;
}

th {
	padding: 5px;
}

td {
	border-style: solid;
	border-color: black;
	padding: 5px;
}

td.title {
	text-align: center;
}

td.description {
	text-align: right;
}

td.titleG {
	text-align: center;
	background-color: lightgrey;
}

td.descriptionG {
	text-align: right;
	background-color: lightgrey;
}

p.table {
	margin-left: 5px;
	margin-right: 5px;
}

p.body {
	margin-right: 40px;
	margin-left: 40px;
	text-align-last: left;
}

h2 {
	margin-left: 40px;
}