/* 
File Name: education.css
Author: Luciano De Gianni      
Date Modified: Nov.26th, 2018 
Description: education.css contains styles specific to 
education.html. It contains duplicate styles from 
mainStyle.css. For some reason mainStyle.css was conflicting
with the table styles. I have yet to determine why.
*/

body {
	padding: 0px;
	margin: 0px;
	font-family: Helvetica;
}

div.body{
	margin-top: 40px;
}

table {
	background-color: white;
	border-style: solid;
	border-color: black;
	margin: auto;
	border-collapse: collapse;
}

th {
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

td {
	border-style: solid;
	border-color: black;
	padding: 5px;
}


p.table {
	margin-left: 5px;
	margin-right: 5px;
}

p.body {
	margin-right: 40px;
	margin-left: 40px;
	text-align-last: left;
}

h2 {
	margin-left: 40px;
}

/*
The capital G indicates a grey background.
Other than the background color
*/

td.title {
	text-align: center;
}

td.description {
	text-align: right;
}

td.titleG {
	text-align: center;
	background-color: lightgrey;
}

td.descriptionG {
	text-align: right;
	background-color: lightgrey;
}