/* 
File Name: index_styles.css
Author: Luciano De Gianni      
Date Modified: Jan.19th, 2018 
Description: main.css contains the over-arching styles.
*/

iframe {
    height: 100%;
    width: 100%;
    border: none;
}
