/* 
File Name: index.css
Author: Luciano De Gianni      
Date Modified: Nov.26th, 2018 
Description: index.css contains styles for the mainpage where
all other pages are displayed. The styles for the main flexbox,
side bar menu, and iframe are contained in this file.
*/

.main {
	display: flex;
	height: 100vh;
}

.sidebar {
	background-image: url("images/black.jpg");
	width: 15%;
}

.mainContent {
	background-image: url("images/white.jpg");
	flex-grow: 1;
}

h1.menu {
	color: white;
	font-family: Arial;
}

div.body {
	margin-top: 40px;
	margin-bottom: 40px;
	margin-right: 40px;
	margin-left: 40px;
}

table.menu {
	border-color: white;
	margin: auto;
	margin-top: 20vh;
	vertical-align: center;
}

td.menu {
	text-align: left;
	padding-bottom: 0px;
	padding-top: 10px;
	transition: 0.25s;
}

td.menu:hover {
	padding-left: 9px;
}

iframe {
	height: 99vh;
	width: 85vw;
	border: none;
}