/* 
File Name: interests.css
Author: Luciano De Gianni      
Date Modified: Dec.11th, 2018 
Description: Contains specific styles for interest.html.
Currently no specific styles needed.
*/

img {
	border-style: solid;
	border-color: black;
	width: 50vw;
	height: 50hw;
}