/* 
File Name: mainStyle.css
Author: Luciano De Gianni      
Date Modified: Nov.26th, 2018 
Description: mainStyle.css contains the over-arching styles.
*/

body {
	font-family: Helvetica;
}

p {
	text-align-last: left;
	margin-right: 40px;
	margin-left: 40px;
	color: black;
}

h2 {
	margin-left: 40px;
}

a.menu{
	text-decoration: none;
}

div.body{
	margin-top: 40px;
}