/* 
File Name: skills.css
Author: Luciano De Gianni      
Date Modified: Dec.11th, 2018 
Description: Contains specific styles for skills.html.
Currently no specific styles needed.
*/
body {
	padding: 0px;
	margin: 0px;
	font-family: Helvetica;
}

p {
	color: black;
}

button {
	margin-left: 40px;
}

div.body{
	margin-top: 40px;
}

p.body {
	margin-right: 40px;
	margin-left: 40px;
	text-align-last: left;
}

/*
This creates the underline when hovering over the table entries.
*/
a {
	text-decoration: none;
}

a.link:hover
{
	color: black;
	text-decoration: underline;
}

/*
Styles for the navigation table
*/


table {
	background-color: white;
	border-style: solid;
	border-color: black;
	margin: auto;
	border-collapse: collapse;
	width: 50vw;
}

th {
	padding: 5px;
	border-color: black;
	border-style: solid;
}

th.grey {
	padding: 5px;
	border-color: black;
	border-style: solid;
	background-color: lightgrey;
}

tr {
	border-style: solid;
	border-color: black;
	padding: 5px;
}

td {
	border-style: solid;
	border-color: black;
	padding: 5px;
}

h2 {
	margin-left: 40px;
}

h2.heading {
	text-align: center;
	margin-top: 100px;
}

/*
The capital G indicates a grey background.
Other than the background color
*/

td.title {
	text-align: center;
}

td.description {
	text-align: right;
}

td.titleG {
	text-align: center;
	background-color: lightgrey;
}

td.descriptionG {
	text-align: right;
	background-color: lightgrey;
}