/* 
File Name: table.css
Author: Luciano De Gianni      
Date Modified: Jan.19th, 2018 
Description: Contains all relevant styles to tables including
table headings, rows, and cells.
*/

/*General*/
table.one {
	background-color: white;
	border-style: solid;
	border-color: black;
	margin: auto;
	border-collapse: collapse;
}

th.one {
	padding: 10px;
	border-style: solid;
	border-color: black;
}

td.one {
	padding: 5px;
}

td.one_gray {
	padding: 5px;
	background-color: lightgray;
}


/*Styles for index.html*/
table.menu {
	margin: auto;
	width: 50%;	
	height: 100%;
}

td.menu {
	text-align: center;
}


/*Styles for education.html*/
td.education_desc {
	text-align: right;
	padding: 5px;
}

td.education_desc_gray {
	text-align: right;
	padding: 5px;
	background-color: lightgray;
}

/*Styles for skills.html*/
td.skills {
	padding: 5px;
	text-align: center;
	border-color: black;
	border-style: solid;
}

/*Styles for projects.html*/
table.projects {
	background-color: white;
	border-style: solid;
	border-color: black;
	margin: auto;
	border-collapse: collapse;
}

th.projects {
	padding: 10px;
	border-style: solid;
	border-color: black;
}

td.projects {
	padding: 5px;
	border-style: solid;
	border-color: black;
}

td.projects_gray {
	padding: 5px;
	background-color: lightgray;
	border-style: solid;
	border-color: black;
}
