.menu button {
    background: none;
    border-style: none;
    outline-style: none;
    padding: 0px;
    width: 100%;
    text-align: center;
    color: white;
    font-family: Courier;
    font-size: 25px;
}

.menu button:hover {
    cursor: pointer;
    color: black;
    background-color: rgb(39, 167, 209);
}

.menu table {
    margin: 0px;
    padding: 0px;
    width: 100%;
    border-collapse: collapse;
}

.menu td {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.menu tr {
    width: 100%;
    padding: 0px;
    margin: 0px;
}
