body {
    background-image: url('images/black.jpg');
    font-family: sans-serif;
}

p {
    font-size: 16px;
}

h1 {
    color: black;
}

.heading {
    background-color: lightslategrey;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
    text-align: center;
}

.class-list {
    background-color: white;
    border-radius: 15px;
    padding: 0px;
    margin-top: 100px;
    height: 80vh;
    transition: box-shadow 0.25s;
}

div.class-list:hover {
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.75);
}

.tab-content {
    padding: 10px;
}

.section {
    height: 100vh;
}

.window {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    margin-top: 100px;
    height: 80vh;
    transition: box-shadow 0.25s;
}

div.window:hover {
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.75);
}

th {
    text-align: center;
}

td {
    text-align: center;
}