.menu button {
    background: none;
    border-style: none;
    outline-style: none;
    text-align: center;
    font-family: Courier;
    font-size: 25px;
}

.menu button:hover {
    cursor: pointer;
}

.menu table {
    margin: auto;
}

.menu td {
    margin: auto;
    padding: 1vh;
    border-bottom: 2px white solid;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;;
}