.navbar-default {
    background-color: #03a6bf;
    border-color: #03a6bf;
    border-radius: 0px;
}

.navbar-default .navbar-brand {
    color: black;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: black;
}

.navbar-default .navbar-nav > li > a{
    color: black;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
}
